/vendor/
.env
writable/cache/*
writable/logs/*
writable/session/*
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
public/uploads/menu-items/*
!public/uploads/menu-items/.gitkeep
writable/debugbar/*